* {
    margin: 0;
    padding: 0;
}
html body {
    height: 100%;
}
.homebox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.topbox {
    width: 90%;
}
.leftbox {
    width: 10%;
    min-height: 800px;
    height: 100%;
    border-right: 1px solid rgb(208,208,208);
}